.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/

# RSpec status tracking.
/spec/.examples.txt

# No Credentials
/spec/dummy/config/database.yml
